<div class="page-body">
    <div class="nav-view">
        <!-- 设备系统 -->
        {{#each devicesystems}}
        <div class="device-system">
            <div class="device-system-img">
                <img src="{{src}}">
            </div>
            <div class="device-system-name">
                {{name}}
            </div>
        </div>
        {{/each}}
    </div>

    <div class="data-view">
       
    </div>

</div>