.page-body{
    height:100%;
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    color: #7c7c7e;
}
.nav-view{
    width: 200px;
    display: flex;
    flex-direction: column;
}
.data-view{
    width: 100%;
}

.device-list{
    display: flex;
}

.device-system{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 142px;
    width: 100%;
    cursor: pointer;
    background-color: #1f1f1f;
    border-bottom: 1px solid #111;
    border-right: 1px solid #111;
}
.device-system.active{
    background: -webkit-gradient(linear, 0 0,100% 0, from(#2d2d30), to(#1f1f1f));
    background: -moz-gradient(linear, 0 0,100% 0, from(#2d2d30), to(#1f1f1f));
    background: -ms-gradient(linear, 0 0,100% 0, from(#2d2d30), to(#1f1f1f));
    background: linear-gradient(0 0,100% 0, from(#2d2d30), to(#1f1f1f));
    color: #fff;
}
.device-system.active .device-system-img >img{
    opacity: 1;
}

.device-system-img{
    text-align: center;
}
.device-system-img >img{
    opacity: .6;
    width:80px;
}
.device-system-name{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.room-name{
    display: block;
    color: #7c7c7e;
    background-color: #2B2D30;
    border-right: 1px solid black;
    height: 45px;
    line-height:45px;
    font-size: 16px;
    position: relative;
    box-shadow: 0px 1px 0.5px #111;
    background: linear-gradient(to bottom,#2d2d2f,#242424);
}
.type-name{
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
}