.switchgear{
    display: flex;
    flex-direction: column;
    width: 150px;
    background: #333;
    color: #777;
    border: solid #222;
}
.switchgear-name,.switchgear-bottom{
    text-align: center;
}

.switchgear-middle{
    display: flex;
    flex-direction: row;
}

.switchgear-img{
    flex: 2;
}
.switchgear-img >img{
    height: 50px;
}

.switchgear-left,.switchgear-img,.switchgear-right{
    align-self:center;
    flex:1;
}
.switchgear-left{
  text-align: right;
}
