<div class="common-ctrl" id="transformer_{{id}}">
     <!-- 顶 -->
    <div class="device-li-top">
        <span datacode=1>1#变压器</span>
    </div>
    <!-- 设备PIC -->
    <div class="device-li-icon" deviceid="1" devicename="1#变压器" typename="变压器">
        <img src="{{img}}">
    </div>
    <!--左 -->
    <div class="device-li-left">
        <div></div>
    </div>
    <!-- 右 -->
    <div class="device-li-right">
        <div datacode=2 title="温度">60.0<span>℃</span></div>
        <div datacode=3>63.0℃</div>
        <div datacode=4>58.1℃</div>
    </div>
    <!-- 底 -->
    <div class="device-li-bottom">
        <span datacode=5 style="display: block">运行</span>
    </div>
</div>

<style>

</style>