<div class="switchgear" id="{{id}}">
    <!-- 顶 -->
    <div class="switchgear-name">
        <span>{{deviceName}}</span><br/>
        <span datacode=5></span>
    </div>

    <!-- 中 -->
    <div class="switchgear-middle">
        <div class="switchgear-left">
        </div>
        <!-- 设备图片 -->
        <div class="switchgear-img">
            <img src="{{img}}">
        </div>
        <div class="switchgear-right">
        </div>
    </div>
    <!-- 底 -->
    <div class="switchgear-bottom">
        <span datacode=1>运行</span>
    </div>
</div>