<div class="transformer" id="transformer_{{id}}">
    <!-- 顶 -->
    <div class="transformer-name">
        <span datacode=1>1#变压器</span>
    </div>

    <!-- 中 -->
    <div class="transformer-middle">
        <div class="transformer-left">
        </div>
        <!-- 设备图片 -->
        <div class="transformer-img">
            <img src="{{img}}">
        </div>
        <div class="transformer-right">
            <div datacode=2 title="温度">60.0<span>℃</span></div>
            <div datacode=3>63.0℃</div>
            <div datacode=4>58.1℃</div>
        </div>
    </div>

    <!-- 底 -->
    <div class="transformer-bottom">
        <span datacode=5>运行</span>
    </div>
</div>