<div class="transformer" id="{{id}}">
    <!-- 顶 -->
    <div class="transformer-name">
        <span>{{deviceName}}</span>
    </div>

    <!-- 中 -->
    <div class="transformer-middle">
        <div class="transformer-left">
            <span datacode=1></span>
        </div>
        <!-- 设备图片 -->
        <div class="transformer-img">
            <img src="{{img}}">
        </div>
        <div class="transformer-right">
            <div datacode=47 title="温度">60.0<span>℃</span></div>
            <div datacode=48>63.0℃</div>
            <div datacode=49>58.1℃</div>
        </div>
    </div>

    <!-- 底 -->
    <div class="transformer-bottom">
        <span datacode=1>运行</span>
    </div>
</div>